div {
  margin: 0%;
}
body {
  margin: 0%;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  margin: 0px;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
}
.top-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #caf0f8;
  padding-top: 100px;
}

.middle-container {
  background-color: red;
  width: 200px;
  height: 200px;
}

.bottom-container {
  background-color: blue;
  width: 200px;
  height: 200px;
}
.bottomcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.topcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
